@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html, body {
  height: 100%;
  margin: 0;
} */

/* body {
  background: #fafafa;
  color: #500404;
  font-family: 'Open Sans', sans-serif;
} */

/* LIST */
ul {
  list-style: none;
}

/* FORM */
.content {
    overflow: none;
    height: calc(100vh - 100px);
}


.accordion-lg-container {
    padding-top: 30px;
}

input {
  position: absolute;
  top: -10px;
  left: -10px;
}

label {
  display: block;
  float: left;
  height: 60vh;
  width: 40px;
  overflow: hidden;
  background: #b69671;
  text-align: center;
  font-size: 14px;
  line-height: 50px;
  -webkit-transition: background 500ms ease;
  transition: background 500ms ease;
}

li:nth-child(n) > input + label {
  background: rgba(255, 255, 255, 0.5);
}



label:hover,
li:nth-child(n) > input + label:hover {
  background: rgba(184, 92, 31, 0.5);
  color: #fff;
  cursor: pointer;
}

input[type="radio"]:checked ~ label {
  background: orange;
  color: #fff;
  cursor: default !important;
}

/* SLIDES */
.accslide {
  display: block;
  height: 100%;
  width: 0px;
  padding: 10px 0;
  float: left;
  overflow: hidden;
  font-sizes: 12px;
  line-height: 1.5;
  -webkit-transition: all 700ms ease;
  transition: all 700ms ease;
}
.accslide * {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.accslide h1 {
    margin-top: 20px;
    margin-bottom: 40px;
  }

.accslide img {
  margin-top: 10px;
}

input[type="radio"]:not(:checked) ~ label > * {
  padding-left: 7px;
  font-size: 1.2em;
  white-space: nowrap;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

input[type="radio"]:checked ~ label > * {
  display: none;
}

li:nth-child(1) input[type="radio"]:checked ~ .accslide {
  width: calc(80% - 160px);
}

li:nth-child(2) input[type="radio"]:checked ~ .accslide {
  width: calc(80% - 160px);
}

li:nth-child(3) input[type="radio"]:checked ~ .accslide {
  width: calc(80% - 160px);
}

li:nth-child(4) input[type="radio"]:checked ~ .accslide {
  width: calc(80% - 160px);
} 

li:nth-child(5) input[type="radio"]:checked ~ .accslide {
    width: calc(80% - 160px);
}

li:nth-child(6) input[type="radio"]:checked ~ .accslide {
width: calc(80% - 160px);
}

li:nth-child(7) input[type="radio"]:checked ~ .accslide {
width: calc(80% - 160px);
}



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
    .content {

    }
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
    .content {
    }
}


