/* -----------------------------fonts */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Dancing+Script:wght@400;500;600;700&family=Darker+Grotesque:wght@300;400;500;600;700;800;900&family=Epilogue:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Monoton&family=Raleway+Dots&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */



/* FORM */
.content {
    overflow: hidden;
    height: 300px;
    padding: 15px ;
    margin: 0;
    
}


.accordion-lg-container {
    padding-top: 30px;
}

input {
  position: absolute;
  top: -10px;
  left: -10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

label {
  display: block;
  float: left;
  height: 300px;
  width: 40px;
  overflow: hidden;
  background: rgb(116, 107, 107);
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  line-height: 50px;
  -webkit-transition: background 500ms ease;
  transition: background 500ms ease;
  font-family: 'Darker Grotesque', sans-serif;
  border-left: dashed 1px rgb(116, 107, 107);
}



li:nth-child(n) > input + label {
  background: rgba(255, 255, 255, 0.5);
} 



label:hover,
li:nth-child(n) > input + label:hover {
  background: brown;
  color: #fff;
  cursor: pointer;
}

input[type="radio"]:checked ~ label {
  background: rgb(97, 89, 89);
  color: #fff;
  cursor: default !important;
}

/* SLIDES */
.accslide {
  display: block;
  height: 100%;
  width: 0px;
  padding-bottom: 30px;
  float: left;
  overflow: hidden;
  font-sizes: 12px;
  line-height: 1.5;
  -webkit-transition: all 700ms ease;
  transition: all 700ms ease;
}

.accslide * {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.accslide h1 {
    margin-top: 20px;
    margin-bottom: 40px;
  }

.accslide img {
  margin-top: 10px;
}

input[type="radio"]:not(:checked) ~ label > * {
  padding-left: 7px;
  font-size: 1.2em;
  white-space: nowrap;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

input[type="radio"]:checked ~ label > * {
  padding-left: 7px;
  font-size: 1.2em;
  white-space: nowrap;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

li:nth-child(1) input[type="radio"]:checked ~ .accslide {
  width: calc(90% - 160px);
}

li:nth-child(2) input[type="radio"]:checked ~ .accslide {
  width: calc(90% - 160px);
}

li:nth-child(3) input[type="radio"]:checked ~ .accslide {
  width: calc(90% - 160px);
}

li:nth-child(4) input[type="radio"]:checked ~ .accslide {
  width: calc(90% - 160px);
} 

li:nth-child(5) input[type="radio"]:checked ~ .accslide {
    width: calc(90% - 160px);
}

li:nth-child(6) input[type="radio"]:checked ~ .accslide {
width: calc(90% - 160px);
}

li:nth-child(7) input[type="radio"]:checked ~ .accslide {
width: calc(90% - 160px);
}



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
    .content {

    }
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
    .content {
    }
}


