/* -----------------------------fonts */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Dancing+Script:wght@400;500;600;700&family=Darker+Grotesque:wght@300;400;500;600;700;800;900&family=Epilogue:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Monoton&family=Raleway+Dots&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* HEADER */

#logo {
	width: 80px;
	height: 110px;
    margin: 10px auto 10px;
    
    background-image: url(/assets/images/matthew-henry-nvFpb_MMRj8-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: grey;


	-webkit-border-radius: 50%/60% 60% 40% 40%;
	-moz-border-radius: 50%/60% 60% 40% 40%;
	border-radius: 50%/60% 60% 40% 40%;

	/* -webkit-box-shadow: 0px 0px 20px #D5D3D3  , 0px 0px 20px #D5D3D3 ;
	-moz-box-shadow: 0px 0px 20px #D5D3D3  , 0px 0px 20px #D5D3D3 ;
    box-shadow: 0px 0px 20px #D5D3D3  , 0px 0px 20px #D5D3D3 ;
     */
    -moz-box-shadow:    5px 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px 5px #ccc;
    box-shadow:         5px 5px 5px 5px #ccc;
}

div .hero-img  {
    background-image: url(/assets/images/rob-tol-Tkjq9thFqYI-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center ;
    background-attachment: fixed;
    background-size: cover ;
    height: 350px;
    position: relative;
}

.jumbotron p {
    font-size: 15px;
}

nav  {
    background-color: #fafafa;
}

.navbar-brand {
    font-size: 30px;
}

/* GETTING STARTED */

div #start-home, 
div #start-acquire,
div #start-food,
div #start-bring-home {
    background-color: rgb(165, 42, 42);
    background-repeat: no-repeat;
    background-position: center ;

    overflow: hidden;

    height: 120px;
    width: 120px;
    border-radius: 50%;

    margin: 0 auto;
}

div #start-home {
    background-image: url(/assets/images/sophie-mikat-xD-d18uQwUI-unsplash.jpg);
    background-size: 120% ;
}

div #start-acquire {
    background-image: url(/assets/images/chicken-grass-range-hen-poultry-meadow-brown.jpg);
    background-size: 150% ;
}

div #start-food {
    background-image: url(/assets/images/jeremy-ricketts-h4zs8fbybq4-unsplash.jpg);
    background-size: 160% ;
}

div #start-bring-home {
    background-image: url(/assets/images/tyler-finck-vJzW6f5GwFA-unsplash.jpg);
    background-size: 120% ;
}

/* EVENTS AND SIGN UP */

div #sign-up-img {
    background-image: url(/assets/images/chickens-poultry-running-happy-hens\ \(2\).jpg);
    background-repeat: no-repeat;
    background-position: top ;
    background-attachment: fixed;
    background-size: cover ;
    height: 100%;
    background-color: GREY;
    margin-bottom: 30px;
    margin-top: 30px;
}

.section-event {
    background-color: rgba(255, 255, 255, 0.6);
    margin: 30px 15px;
}

.section-event p {
    font-weight: 700;
    text-align: center;
}

/* ADDITIONAL RESOURCES */

div .resource-img  {
    background-image: url(/assets/images/boba-jaglicic-kztp-VpjlBA-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: bottom ;
    background-attachment: fixed;
    background-size: cover ;
    height: 350px;
    position: relative;
}

.resource-overlay {
    background-color: rgba(255, 255, 255, 0.8);
    width: 50%;
    min-width: 300px;
    float: left;
    padding: 10px;
    margin-left: 40px;
    font-size: 20px;
}

ul li a:hover {
    color: rgb(165, 42, 42);
}

/* SAFETY */

div #predator-img  {
    background-image: url(/assets/images/scott-walsh-CQl3Y5bV6FA-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center ;
    background-size: 150% ;

    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 0 auto;
}


div #pecking-img  {
    background-image: url(/assets/images/jairo-alzate-Z8KdK-5auxc-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: right ;
    background-size: 150% ;

    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 0 auto;
}

/* SIGN UP */
.sign-up-form {
   width: 50%;
   margin: 0 auto; 
   min-width: 380px;
}

.btn-sign-up {
    background-color: rgb(165, 42, 42);
    color: white;
}

.btn-sign-up:hover {
    background-color: rgb(179, 87, 87);
    color: white;
}
/* -----------------------------general items */
.uppercase {
    text-transform: uppercase;
}

ul {
    list-style: none;
  }

.card {
    min-height: 220px;

    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
 }

.card:hover {
    background-color: rgba(0,0,0,0.5);
    color: white;

}

hr {
    width: 50%;
    height: 5px;
    text-align: center
}

.card a {
    text-decoration: none;
    color: inherit;
}

a {
    padding: 0;
    margin: 0;
    border: 0;
}

/* -----------------------------fonts, padding and margins */

h1, h2, h3, h4, h5 {
    font-family: 'Darker Grotesque', 'sans-serif';    
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    color: rgb(165, 42, 42);
    font-weight: 700;
}

h1 {
    font-size: 250%;
}

h5 {
    font-size: 120%;
}

.hero-overlay {
    background-color: rgba(255, 255, 255, 0.3);
    width: 45%;
    min-width: 300px;
    float: left;
    padding: 10px;
    margin-left: 40px;
    font-size: 10px;
}

/* ----------------------------------------Footer */

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

.connect-links {
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
}

.connect-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 18px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;

    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.connect-links li a i:hover {
    background: white;
    color:  rgb(165, 42, 42);
}

footer h1,footer  h2,footer  h3,footer  h4,footer  h5 {
    color: white;
}


#footer-details {
    padding: 20px;
}

footer hr {
    width: 25%;
    height: 1px;
    text-align: center
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {  
    
    h1 {
        font-size: 200% ;
    }
}

 

