/* -----------------------------fonts */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Dancing+Script:wght@400;500;600;700&family=Darker+Grotesque:wght@300;400;500;600;700;800;900&family=Epilogue:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Monoton&family=Raleway+Dots&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


/* -----------------------------colours */


/* -----------------------------images */

div .hero-img  {
    background-image: url(/assets/images/rob-tol-Tkjq9thFqYI-unsplash.jpg);
    background-repeat: no-repeat;
    background-position-y: -200px ;
    
    background-size: cover ;
    overflow: hidden;
    height: 600px;
}

/* -----------------------------general items */
.uppercase {
    text-transform: uppercase;
}

hr {
    width: 50%;
}

/* -----------------------------fonts */

h1, h2, h3, h4, h5 {
    font-family: 'Darker Grotesque', 'sans-serif';    
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

/* -----------------------------sign up for events*/
.card-image {
     background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table%20(7).jpg');
     background-repeat: no-repeat;
     background-size: cover;

}



