/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Dancing+Script:wght@400;500;600;700&family=Darker+Grotesque:wght@300;400;500;600;700;800;900&family=Epilogue:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Monoton&family=Raleway+Dots&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

h2{
    font-family: 'Dancing Script';    
}

.navbar-header {
    height: 100px;
    width: 70px;
    margin: 20px auto 30px;
 
    border: 1px black solid;
    border-radius: 50%/60% 60% 40% 40%;
    box-shadow: 0px 0px 10px whitesmoke inset, 0px 0px 20px black inset;

    /* matthew-henry-nvFpb_MMRj8-unsplash.jpg */
    background-image: url('/assets/images/matthew-henry-nvFpb_MMRj8-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: gainsboro;

    display: flex;
    align-items: center;
    justify-content: center; 
    color: rgb(226, 150, 8);
    font-weight: 900;   
    font-size: 10px; 
    font-family: 'Dancing Script';
    text-shadow: 1px 1px 1px black, -1px 1px 1px black, 1px -1px 1px black, -1px -1px 1px black ;
    text-transform: uppercase;
}   

.header-background {
    background-color: black;
    width: 100%;
}

.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center; 
}